# =========================
# Core
# =========================

# Node
node_modules

# Misc
*.log

# Env (Only for development)
.env

# =========================
# IDE
# =========================

# VS Code

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vscode

# =========================
# Operating System Files
# =========================

# OSX
.DS_Store

# =========================
# Packages
# =========================

# ApiDocjs
apidoc

# nyc
.nyc_output
coverage
